<h1>Welcome to BookAPI</h1>

<div>
    <form>
        Enter Title: <input type="text" [(ngModel)] = "book.title" name="title" ><br>
        Enter Author: <input type="text" [(ngModel)] = "book.author" name="author" ><br>
        <button (click)="addBook()">Add Book</button>
    </form>
</div>



<div>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Author</th>
            <th>Actions</th>
        </tr>
        <tr *ngFor="let book of books">
            <td>{{book.id}}</td>
            <td>{{book.title}}</td>
            <td>{{book.author}}</td>
            <td>Edit | <button (click)="deleteBook(book.id)">Delete</button></td>
        </tr>
    </table>
</div>